@import "tailwindcss";

:root {
  /* Primary Colors */
  --background: #ffffff;
  --background-secondary: #F5F4F4;
  --background-secondary-hover: #f1efef;
  --text-primary: #000000;
  --text-secondary: #595959;
  --accent: #B93030;
  --tertiary: #CCCCCC;
}

@theme inline {
  /* Background colors */
  --color-bg-primary: var(--background);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-secondary-hover: var(--background-secondary-hover);
  
  /* Text colors */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  
  /* Accent & UI colors */
  --color-accent: var(--accent);
  --color-tertiary: var(--tertiary);
  
  /* Fonts */
  --font-source-serif-pro: var(--font-source-serif-pro);
  --font-poppins: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-source-serif-pro), serif;
}

a {
  text-underline-offset: 0.2em;
}
